fastapi==0.103.1
uvicorn==0.22.0
sqlalchemy==2.0.0
alembic==1.10.4
psycopg2-binary==2.9.6
pydantic[email]==2.3.0
pydantic-settings==2.0.3
passlib[bcrypt]==1.7.4
PyJWT==2.7.0
python-dotenv==1.0.0
python-jose==3.3.0
python-multipart==0.0.6
slowapi==0.1.8